body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-image: url(/assets/rps\ background.jpeg);
    font-family: 'Mouse Memoirs';
}

#hands {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

h1 { 
    margin: 20px;
    color: rgb(255, 166, 1);
    background-color: black;
    box-shadow: 1px 1px 1px 2px white;
    border-radius: 15%;
}

#choice {
    line-height: 1.5em;
}

span {
    display:grid;
    margin: 5px;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 1px 1px ;
    border-radius: 4px 4px;
    font-family: 'Mouse Memoirs';
    font-size: 25px;
    align-items: center;
    text-align: center;
    box-sizing: content-box;
}

.hidden {
    display: none;
}

#error {
    color: black;
    font-size: 2em;
    font-weight: bold;
    background-color: red;
    border-radius: 3px 3px;
    box-shadow: 1px 1px 1px;
}

input[type=radio]{
     display: none;
}

input[type=radio]:checked + .label{
    font-size: 2rem;
    font-weight: bold;
}

input[type=radio]:checked + img{
    border: solid 5px black;
}

img {
    height: 90px;
    width: 115px;
    margin: 5px;
    opacity: .5;
}

#submit {
    font-size: large;
    width: 9em;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 4px 4px;
    background-color: lightgray

}

#wins, #losses, #draws{
    font-size: 1em;
    background-color: white;
    color: black;
    border-radius: 4px 4px;
    box-shadow: 1px 1px 1px 1px;
}

p {
    color: rgb(255, 166, 1);
    background-color: black;
    box-shadow: 2px 1px 1px 2px white;
    border-radius: 15%;
    font-size: 2em;
    margin: 5px;
}

label:hover {
    cursor: pointer;
    font-weight: bold;
    
}

img:hover, span:hover {
    opacity: 1;
}

